[Unit]
Description=Contains service information for ICMP service on startup.

[Install]
WantedBy=multi-user.target
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'python3 -u /etc/icmpd'
WorkingDirectory=/etc/
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n